<!--<p id="notice"><%= notice %></p>-->
<%user = @enrollment.student%>
<%course = @enrollment.course%>
<p>
  <strong>Student name:</strong>
  <%= user.name %>
</p>
<p>
  <strong>Student email:</strong>
  <%= user.email %>
</p>
<p>
  <strong>Course number:</strong>
  <%=course.course_number %>
</p>
<p>
  <strong>Course title:</strong>
  <%=course.title %>
</p>
<p>
  <strong>Grade:</strong>
  <%= @enrollment.grade %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status %>
</p>

<!--<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |-->
<!--<%= link_to 'Back', @enrollment.course %>-->
