<h1>Listing Materials</h1>

<table class="table table-hover"> 
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.title %></td>
        <td><%= material.description %></td>
        <td><%= material.course_id %></td>
        <td><%= link_to 'Show', material ,class: 'btn btn-default btn-sm'%></td>
        <td><%= link_to 'Edit', edit_material_path(material) ,class: 'btn btn-default btn-sm'%></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-default btn-sm'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material', new_material_path %>
